<h3>About This App</h3>
<p>
  This app is meant to be used while playing a six-player race or six-player
  Grand Prix in the board game Heat: Pedal to the Metal. The app allows players
  to simulate drawing Mario Kart items with probabilities based on their current
  position. So, just like in Mario Kart, players leading the race will draw
  worse items than those trailing the race. These rules are not thoroughly
  playtested and are just for fun.
</p>
<h3>Tokens</h3>
<p>
  Rules within the app will refer to various tokens. It's up to you as a host to
  decide what household items you want to use to represent these tokens. In my
  play sessions, I use coins as Banana tokens and purple dice to represent Fake
  Blocks.
</p>
<h3>Placing Item Blocks</h3>
<p>
  Before starting a race, you will need to indicate the parts of the track that
  have item blocks. I recommend dividing the total number of spaces on the track
  by 4 (ex: 70/4 = 17.5) and then, starting 4 spaces behind the starting line,
  count forward the number of spaces (17 in the example) and place indicators on
  each side of the track to show there are item blocks there. Repeat these three
  more times until there are four item blocks on the track.
</p>
<h3>Drawing Items</h3>
<p>
  During the race, a player may pass through item blocks on their turn. If they
  do, at the END of their turn, they click Play on the main menu, they select
  their CURRENT position (not the position they started the turn in or the
  position they were in when passing through the blocks), and click Draw Item.
  The app will show the item they've drawn and they can tap the card to see the
  item's rules text. If there is a Fake Block on the track where they drew
  items, they must first check the Fake Block? box before drawing their item.
</p>
<h3>Using Items</h3>
<p>
  Unless indicated otherwise in the rules text of an item, items may only be
  used at the beginning of your turn (before you move) or at the end of your
  turn before comparing your speed to any turns you went through. A player may
  activate an item at the end of a turn in which they drew it. Much like the
  video game, players may choose to hold an item behind them to block incoming
  attacks from Green or Red Shells. Because a player could technically be
  holding an item behind them and also draw an item from blocks, we use
  miniature white boards to show everyone what items are being held behind our
  character. This also allows players to erase items when they have multiple,
  like the Triple Banana, Triple Mushroom, or Triple Shells.
</p>
<h3>Flavor and Theme</h3>
<p>
  To help people get into the theme of the rules variant, allow your players to
  select their favorite character on the main menu. Then, on the Play page, they
  can use the Soundboard to play voice clips of that character at the
  appropriate times during gameplay!
</p>
