<div class="container">
  <a href="/"><img src="assets/images/Back.jpg" style="height: 25px" /></a>
  <div class="row">
    <img src="assets/images/Soundboard.jpg" />
  </div>
  <div class="row mb-4 mt-2 align-items-baseline">
    <div class="col pe-0" (click)="playBoost()">
      <img src="assets/images/Boost.jpg" style="height: 45px" />
    </div>
    <div class="col">
      <img src="assets/images/SoundIcon.jpg" style="height: 30px" />
    </div>
  </div>
  <div class="row my-4 align-items-baseline">
    <div class="col pe-0" (click)="playFireItem()">
      <img src="assets/images/FireItem.jpg" style="height: 50px" />
    </div>
    <div class="col">
      <img src="assets/images/SoundIcon.jpg" style="height: 30px" />
    </div>
  </div>
  <div class="row my-4 align-items-baseline">
    <div class="col pe-0" (click)="playHitOpponent()">
      <img src="assets/images/HitOpponent.jpg" style="height: 56px" />
    </div>
    <div class="col">
      <img src="assets/images/SoundIcon.jpg" style="height: 30px" />
    </div>
  </div>
  <div class="row my-4 align-items-baseline">
    <div class="col pe-0" (click)="playOuch()">
      <img src="assets/images/Ouch.jpg" style="height: 45px" />
    </div>
    <div class="col">
      <img src="assets/images/SoundIcon.jpg" style="height: 30px" />
    </div>
  </div>
  <div class="row my-4 align-items-baseline">
    <div class="col pe-0" (click)="playVictory()">
      <img src="assets/images/Victory.jpg" style="height: 50px" />
    </div>
    <div class="col">
      <img src="assets/images/SoundIcon.jpg" style="height: 30px" />
    </div>
  </div>
</div>
